* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	background-color: rgba(49, 91, 133, 0.9);
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #ffffffa4;
	font-weight: bold;
}

.calculator-card {
	height: 800px;
	width: 425px;
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	padding: 20px;
	background-color: #133350;
	box-shadow: 0 0 20px black;
}

.screen {
	flex: 1 1 150px;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.screen-result {
	flex: 1 0;
	font-size: 60px;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.bottom-container {
	flex: 1 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	color: #dbe0f0a4;
}

.screen-input {
	flex: 1.75 0;
	font-size: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.screen-messages {
	flex: 1 0;
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.keypad {
	flex: 2 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	font-size: 30px;
	user-select: none;
}

.keypad > .row-container,
.single-sized {
	flex: 1 0 auto;
	display: flex;
	gap: 20px;
}

button {
	font-size: 30px;
	color: #dbe0f0a4;
	background-color: #133350;
	flex: 1 0 0;
	border: none;
	border-radius: 20px;
	box-shadow: 2px 2px 6px black,
		0 0 2px white;
}

button:active {
	box-shadow: -2px -2px 6px black,
		0 0 2px white;
}

.operator:active {
	box-shadow: inset 1.5px 1.5px black;
}

.row-container.one div,
.row-container.five div {
	flex: 1 0 0;
	display: flex;
}

.clear {
	background-color: rgba(189, 17, 17, 0.671);
}

.equal {
	background-color: rgb(22, 95, 40);
}

.operator {
	color: #18221c;
	background-color: rgb(23, 147, 151);
}